doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles
    // STYLES
    link(rel="stylesheet", href="/vendor/styles/font-awesome.css")
    link(rel="stylesheet", href="/vendor/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/styles/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/vendor/js/jquery.min.js")
    script(src="/vendor/js/lodash.min.js")
    script(src="/vendor/js/moment.js")
    script(src="/vendor/js/bootstrap.min.js")
    script(src="/vendor/js/angular.min.js")
    script(src="/vendor/js/angular-sanitize.min.js")
    script(src="/vendor/js/ui-bootstrap.min.js")
    script(src="/vendor/js/ui-bootstrap-tpls.min.js")
    script(src="/vendor/js/d3.min.js")
    // SCRIPTS END

